<div class="container">
  <button class="btn btn-primary mb-3" [routerLink]="['/component/menu-detail']"> Add New </button>
</div>
<div class="col-xl-12">
  <app-card cardTitle="Menu Detail" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData; let  i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{item?.title}}</td>
            <td><img *ngIf="item?.image" width="100" [src]="'https://cloud-api.up.railway.app' + item?.image" alt=""></td>
            <td>
              <button class="btn btn-secondary" [routerLink]="['/component/menu-detail', item?._id]">Edit</button>
              <button class="ms-3 btn btn-danger" (click)="deleteItem(item)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>