<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Job Applications List" [options]="false" blockClass="table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>title</th>
                            <th>code</th>
                            <th>fullName</th>
                            <th>phoneNumber</th>
                            <th>email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of userData; let i = index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item?.title}}</td>
                            <td>{{item?.code}}</td>
                            <td>{{item?.fullName}}</td>
                            <td>{{item?.phoneNumber}}</td>
                            <td>{{item?.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>