<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Navsari Weather Details" [options]="false">
      <h5>Weather Details</h5>
      <hr />
      <div class="row">
        <div class="col-md-6 mb-5">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="latitude">Latitude</label>
              <input id="latitude" class="form-control" formControlName="latitude" />
            </div>
            <div class="form-group">
              <label for="longitude">Longitude</label>
              <input id="longitude" class="form-control" formControlName="longitude" />
            </div>
            <div class="form-group">
              <label for="altitude">Altitude</label>
              <input id="altitude" class="form-control" formControlName="altitude" />
            </div>
            <div class="form-group">
              <label for="maxTemp">Maximum Temperature (℃)</label>
              <input id="maxTemp" class="form-control" formControlName="maxTemperature" />
            </div>
            <div class="form-group">
              <label for="minTemp">Minimum Temperature (℃)</label>
              <input id="minTemp" class="form-control" formControlName="minTemperature" />
            </div>
            <div class="form-group">
              <label for="humidityMorning">Relative Humidity Morning (%)</label>
              <input id="humidityMorning" class="form-control" formControlName="relHumidityMorning" />
            </div>
            <div class="form-group">
              <label for="humidityAfternoon">Relative Humidity Afternoon (%)</label>
              <input id="humidityAfternoon" class="form-control" formControlName="relHumidityAfternoon" />
            </div>
            <div class="form-group">
              <label for="windSpeed">Wind Speed (km/hr.)</label>
              <input id="windSpeed" class="form-control" formControlName="windSpeed" />
            </div>
            <div class="form-group">
              <label for="sunshineHours">Bright Sunshine Hours (Previous Day)</label>
              <input id="sunshineHours" class="form-control" formControlName="brightSunshineHours" />
            </div>
            <div class="form-group">
              <label for="evaporation">Evaporation (mm/day)</label>
              <input id="evaporation" class="form-control" formControlName="evaporation" />
            </div>
            <div class="form-group">
              <label for="rainFall">Rain Fall (mm)</label>
              <input id="rainFall" class="form-control" formControlName="rainFall" />
            </div>
            <div class="form-group">
              <label for="rainyDays">Rainy Days</label>
              <input id="rainyDays" class="form-control" formControlName="rainyDays" />
            </div>
            <div class="form-group">
              <label for="cumulativeRain">Cumulative Rain (mm)</label>
              <input id="cumulativeRain" class="form-control" formControlName="cumulativeRain" />
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
          </form>
        </div>
      </div>
    </app-card>
  </div>
</div>