<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Cloudlabs Slider Details" [options]="false">
      <h5>Impact & Insights Slider Details</h5>
      <hr />
      <div class="row">
        <div class="col-md-12 mb-5">
          <!-- <h5>Impact & Insights</h5> -->
          <!-- <hr> -->
          <form [formGroup]="form1" (ngSubmit)="onSubmitSlide1()">
            <div class="form-group">
              <label>Title Line 1</label>
              <input type="text" class="form-control" formControlName="title" placeholder="Title Line 1" />
              <div *ngIf="title1?.invalid && (title1?.dirty || title1?.touched)" class="text-danger">
                <div *ngIf="title1?.errors?.['required']">Title lINE 1 is required.</div>
                <div *ngIf="title1?.errors?.['minlength']">Title lINE 1 must be at least 3 characters long.</div>
              </div>
            </div>
            <!-- <div class="form-group">
              <label>Title 2</label>
              <input type="text" class="form-control" formControlName="title2" placeholder="Title 2" />
            </div> -->
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Title Line 2</label>
              <input type="text" class="form-control" formControlName="description" placeholder="Title Line 2" />
              <!-- <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="description"
                rows="3"></textarea> -->
              <div *ngIf="description1?.invalid && (description1?.dirty || description1?.touched)" class="text-danger">
                <div *ngIf="description1?.errors?.['required']">Title lINE 2 is required.</div>
                <div *ngIf="description1?.errors?.['minlength']">Title lINE 2 must be at least 10 characters long.</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form1.invalid">Submit</button>
          </form>
        </div>
      </div>
    </app-card>
  </div>
</div>